<% layout("/layouts/biolerplate") %>

<div class="filters-container">
  <div class="filters">
    <div class="filter"><i class="fa-solid fa-fire"></i><a href="/listing/icon/Trending">Trending</a></div>
    <div class="filter"><i class="fa-solid fa-bed"></i><a href="/listing/icon/Rooms">Rooms</a></div>
    <div class="filter"><i class="fa-solid fa-mountain-city"></i><a href="/listing/icon/Mountain City">Mountain City</a></div>
    <div class="filter"><i class="fa-solid fa-mountain"></i><a href="/listing/icon/Mountains">Mountains</a></div>
    <div class="filter"><i class="fa-solid fa-chess-rook"></i><a href="/listing/icon/Castles">Castles</a></div>
    <div class="filter"><i class="fa-solid fa-person-swimming"></i><a href="/listing/icon/Amazing Pools">Amazing Pools</a></div>
    <div class="filter"><i class="fa-solid fa-snowflake"></i><a href="/listing/icon/Arctic">Arctic</a></div>
    <div class="filter"><i class="fa-solid fa-campground"></i><a href="/listing/icon/Champing">Champing</a></div>
    <div class="filter"><i class="fa-solid fa-cow"></i><a href="/listing/icon/Farms">Farms</a></div>
    <div class="filter"><i class="fa-solid fa-umbrella-beach"></i><a href="/listing/icon/Beach">Beach</a></div>

    <div class="filter switch">
      <div class="form-check form-switch form-check-reverse">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Include GST</label>
      </div>
    </div>
  </div>
</div>

<div class="front-page-img">
  <div class="row">
    <% for(let list of data) { %>
      <div class="card">
        <img src="<%=list.image.url%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/listing/<%=list._id%>" class="card-title"><%=list.title%></a>
          <p class="card-location"><%=list.location%></p>
          <p>
            ₹ <%=list.price.toLocaleString("en-IN")%>/night  
            <b class="gst"> +<i>18%</i> GST</b>
          </p>
          <a href="/listing/<%=list._id%>" class="btn btn-primary">Show Details</a>
        </div>
      </div>
    <% } %>
  </div>
</div>

<script>
  const toggle = document.querySelector("#switchCheckDefault");
  const gsts = document.querySelectorAll(".gst");

  toggle.addEventListener("click", () => {
    gsts.forEach(gst => {
      gst.style.display = gst.style.display !== "inline" ? "inline" : "none";
    });
  });
</script>
