<%- layout("/layouts/biolerplate.ejs")%>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const data = <%- JSON.stringify(data) %>;
</script>
<body>
    <div class="headerpage">
        <h2>Property Details</h2>
    </div>
    <div class="container" >
        <div class="listing-card" style="max-width: 50%; margin: auto;">
            <img style="height: 15rem; border-radius: 10px; width: 50%; object-fit: cover;" src="<%=data.image.url%>" class="card-img-top" alt="Property Image">
            <div class="card-body">
                <p style="margin-top: 5px;"><b><%=data.title%></b></p>
                <ul>
                    <li>Owner : <%=data.owner.username%></li>
                    <li><%=data.discription%></li>
                    <li><%=data.feature%></li>
                    <li><%=data.price%></li>
                    <li><%=data.location%></li>
                    <li><%=data.country%></li>
                </ul>
            </div>
            <% if(curruser && curruser._id.equals(data.owner._id)){ %>
            <div class="buttons">
                <form method="GET" action="/listing/<%=data._id%>/edit">
                    <button class="btn btn-warning mb-3">Edit</button>
                </form>
                <form method="post" action="/listing/<%=data._id%>?_method=DELETE">
                    <button style="border-radius: 10px;" class="btn btn-danger mb-3">Delete</button>
                </form>
            </div>
            <% } %>
        </div>

        <% if(curruser){ %>
        <div class="review-form mt-4" style="max-width: 50%; margin: auto;" >
            <h3><b>Leave A Review</b></h3>
            <form method="POST" action="/listing/<%=data._id%>/review" class="needs-validation" novalidate>
                <div class="mt-1">
                    <label for="rating">Rating</label>
                    <fieldset class="starability-slot mt-1">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                        <input type="radio" id="second-rate1" name="rating" value="1" />
                        <label for="second-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="second-rate2" name="rating" value="2" />
                        <label for="second-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="second-rate3" name="rating" value="3" />
                        <label for="second-rate3" title="Average">3 stars</label>
                        <input type="radio" id="second-rate4" name="rating" value="4" />
                        <label for="second-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="second-rate5" name="rating" value="5" />
                        <label for="second-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Message</label>
                    <textarea rows="5" cols="40" name="comment" id="comment" class="form-control" placeholder="Enter Your Comment" required></textarea>
                    <div class="invalid-feedback">Please Enter Some Comment</div>
                </div>
                <button type="submit" class="btn btn-success mb-3">Submit</button>
            </form>
        </div>
        <% } %>

        <% if(data.reviews.length > 0){ %>
        <div class="review-list mt-4" style="max-width: 50%; margin: auto;">
            <h3><b>All Reviews</b></h3>
            <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <% for(let review of data.reviews){ %>
                <div class="card col-12 col-md-5 mb-3 ms-md-3" style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>@</strong><%=review.author.username%></h5>
                        <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
                        <p class="card-text"><%=review.comment%></p>
                        <% if(curruser){ %>
                        <form method="POST" action="/listing/<%=data._id%>/review/<%=review._id%>?_method=DELETE">
                            <button type="submit" class="btn btn-dark">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <% } %>

        <div class="mt-4 " style="width: 60%; margin-left: 25%;">
            <p>Where You'll Be</p>
            <div id="map"></div>
        </div>
    </div>
</body>
<script src="/js/map.js"></script>
